@import '../variables/colors.scss';

.nav-list {
    display: flex;
    min-width: 500px;
    justify-content: space-between;

    &__link {
        text-transform: uppercase;
        font-weight: 600;
        color: var( --add-light-blue);
        transition: all 0.4s linear;

        &:hover {
            color: var(--accent-color);
        }
    }
}