@import "../variables/colors.scss";

.tour-card {
  border-radius: 20px;
  background-color: var(--add-grey);
  padding: 20px;

//   &__city-name{

//   }

//   &__tour-name{
    
//   }

//   &__info{
    
//   }

//   &__description {

//   }
}
