@import "../variables/colors.scss";

.tour-card {
  border-radius: 20px;
  background-color: var(--add-grey);
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__img {
    height: 300px;
    border-radius: 20px 20px 0 0;
  }

  &__content {
    padding: 20px;


    &_city-name {
      margin-top: 20px;
      font-size: 30px;
      text-transform: capitalize;
    }

    &_tour-name {
      text-transform: uppercase;
    }

    &_info {
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
    }

    &_description {
    }
  }

  button {
    cursor: pointer;
  }
}
