.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-bottom: 30px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100%;
  max-width: 300px;
  border: 1px solid black;
}

.card > img {
  width: 100px;
  flex-grow: 1;
  object-fit: cover;
  max-height: 100px;
}
