.container{
    width:100%;
 }
 .container h1{
    font-size:50px
 }
 .about{
    display: flex;
    align-items: center;
    padding:5% 0;
    width:100%;
    height:auto;
    background-color:#fff;
 }
 .about .left{
    padding:2% 0;
    float:left;
    width:50%;
    display:inline-block;
 }
 .about .right{
    width:50%;
    display:inline-block;
 }
 .about .right img{
    width:100%
 }
 .about .left h1{
    text-align:center;
    color:#1EADFF;
    margin:0 0 10px 0;
 }
 .about .left hr{
    margin: 0 auto;
    width:20%;
    border-top:2px solid #000;
    border-bottom:none;
 }
 .about .left p{
    font-size:1rem;
    margin:40px auto;
    width:80%
 }
 
 .mission{
    display: flex;
    align-items: center;
    padding:5% 0;
    width:100%;
    height:auto;
    background-color:#fff;
 }
 .mission .right{
    padding:2% 0;
    width:50%;
 
    display:inline-block;
 }
 .mission .left{
    float:left;
    width:50%;
 
    display:inline-block;
 }
 .mission .left img{
    width:100%;
 }
 .mission .right h1{
    text-align:center;
    color:#1EADFF;
    margin:0 0 20px 0;
 }
 .mission .right hr{
    margin: 0 auto;
    width:35%;
    border-top:2px solid #000;
    border-bottom:none;
 }
 .mission .right p{
    font-size:1rem;
    margin:40px auto;
    width:80%
 }

 .about-tours-section {
   display: flex;
   flex-direction: column;
 }

 .about-tours {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

 .about-tours-section h1 {
   text-align:center;
   color:#1EADFF;
 }

 .about-tours-section h1 hr {
   width:15%;
   border-top:2px solid #000;
   background-color:transperant;
   border-bottom:none;
   margin-bottom:50px;
   margin: 0 auto;
 }
 
 .some-card {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   width: 100%;
   max-width: 400px;
   padding: 20px;
   position:relative;
   min-width:20%;
   height:500px !important;
   height:auto;
   background-color:#fff;
   margin:40px 6.5%;
   box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
   text-align:center;
   overflow: hidden;
 }

 .some-card img {
   width: 200px;
   height: 200px;
   margin: 0 auto;
   object-fit: cover;
 }