@import '../variables/spacings.scss';
@import '../variables/colors.scss';

.hero-tours {
    margin-bottom: 50px;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__input-wrapper {
        width: 100%;
        align-items: center;
        max-width: 300px;
        position: relative;


        &_search-input {
            width: 100%;
            height: 30px;
            border-radius: 10px;
            background-color: var(--add-light-blue);
            opacity: 1;
            padding: 10px 10px;
            font-family: inherit;
            color: var(--main-black);
        }

        &_search-button {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.tours {

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}