@import '../variables/colors.scss';

body {
    font-family: "Montserrat", sans-serif;
    color: var(--main-black);
}

.wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}